<a href="https://colab.research.google.com/github/SaadNazir1/Bank-Project/blob/main/APC_WPO4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

In [3]:
data = [np.random.randint(0,11) for _ in range(10)]
data

[10, 8, 3, 5, 4, 3, 5, 0, 8, 8]

In [6]:
data2 =[1,2,3,4,5,6,7,8,9,0]
result = [(i,j) for i in data for j in data2]
result

[(10, 1),
 (10, 2),
 (10, 3),
 (10, 4),
 (10, 5),
 (10, 6),
 (10, 7),
 (10, 8),
 (10, 9),
 (10, 0),
 (8, 1),
 (8, 2),
 (8, 3),
 (8, 4),
 (8, 5),
 (8, 6),
 (8, 7),
 (8, 8),
 (8, 9),
 (8, 0),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (3, 7),
 (3, 8),
 (3, 9),
 (3, 0),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (5, 7),
 (5, 8),
 (5, 9),
 (5, 0),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (4, 7),
 (4, 8),
 (4, 9),
 (4, 0),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (3, 7),
 (3, 8),
 (3, 9),
 (3, 0),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (5, 7),
 (5, 8),
 (5, 9),
 (5, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (0, 5),
 (0, 6),
 (0, 7),
 (0, 8),
 (0, 9),
 (0, 0),
 (8, 1),
 (8, 2),
 (8, 3),
 (8, 4),
 (8, 5),
 (8, 6),
 (8, 7),
 (8, 8),
 (8, 9),
 (8, 0),
 (8, 1),
 (8, 2),
 (8, 3),
 (8, 4),
 (8, 5),
 (8, 6),
 (8, 7),
 (8, 8),
 (8, 9),
 (8, 0)]

In [7]:
result = [(i,j) for i,j in zip(data, data2)]
result

[(10, 1),
 (8, 2),
 (3, 3),
 (5, 4),
 (4, 5),
 (3, 6),
 (5, 7),
 (0, 8),
 (8, 9),
 (8, 0)]

# Reducing

In [126]:
from functools import reduce

In [16]:
lambda x,y: x+y, data

(<function __main__.<lambda>(x, y)>, [10, 8, 3, 5, 4, 3, 5, 0, 8, 8])

In [129]:
#1 is the first argument in this case
results = reduce(lambda x,y: x+y, data,1)
print(f"The reduction of data using sum is {results}")

The reduction of data using sum is 55

# Exercises

Write a program which can map() to make a list whose elements are the squares of:

• The elements in [1,2,3,4,5,6,7,8,9,10].

• The numbers between 1 and 20 (both included).

Hints: Use map() to generate a list and lambda to define anonymous functions.

In [33]:
exercise_result_1 = list(map(lambda x: x**2  ,range(1,11)))
print("Part 1:",exercise_result_1)

exercise_result_1 = list(map(lambda x: x**2  ,range(1,21)))
print("Part 2:",exercise_result_1)

Part 1: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
Part 2: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

Write a program which can filter() even numbers in

• The list: [1,2,3,4,5,6,7,8,9,10].

• The numbers between 1 and 20 (both included).

Hints: Use filter() to filter some elements in a list and lambda to define anonymous functions

In [36]:
the_list =  [1,2,3,4,5,6,7,8,9,10]
exercise2 = list(filter(lambda x: x%2==0 , the_list))
print("Part 1:",exercise2)
exercise2 = list(filter(lambda x:x%2 ==0, range(1,21)))
print('Part 2:', exercise2)

Part 1: [2, 4, 6, 8, 10]
Part 2: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Write a program which can map() and filter() to make a list whose elements are the squares of:

• The even numbers in [1,2,3,4,5,6,7,8,9,10].

• The numbers between 1 and 20 (both included).

Hints: Use map() to generate a list, filter() to filter elements of a list and lamda to define
anonymous functions.

In [41]:
exercise3 = list(filter(lambda x:x%2==0,map(lambda x:x**2, the_list)))
print("Part:1",exercise3)
exercise3 = list(filter(lambda x:x%2==0,map(lambda x:x**2, range(1,21))))
print("Part:2",exercise3)

Part:1 [4, 16, 36, 64, 100]
Part:2 [4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

Write a function find longest word() that takes a list of words and returns the length of the
longest one.

In [66]:
word_list = ["Elephant","apple","big data","Amazon_river","AI","Country"]
exercise4 = [max(len(word) for word in word_list)]
exercise4

[12]

Using filter(), define a function filter long words() that takes a list of words and an integer n
and returns the list of words that are longer than n.

In [74]:
def filter_words(n):
  return list(filter(lambda word: len(word) > n, [word for word in word_list]))

print(filter_words(7))

['Elephant', 'big data', 'Amazon_river']

Represent a small bilingual lexicon as a Python dictionary in the following fashion
“merry”:“god”, “christmas”:“jul”, “and”:“och”, “happy”:“gott”, “new”:“nytt”, “year”:“ar” and
use it to translate your Christmas cards from English into Swedish.

Use map() to write a function translate() that takes a list of English words and returns a list of Swedish words

In [95]:
bilingual_lexicon = {"city":"shair",
                     "water":"pani" ,
                     "river":"darya",
                     "sea":"sumandar",
                     "mountains":"pahar",
                     "people":"log",
                     "boy":"larka",
                     "girl" : "larki",
                     "bread" : "roti"
                     }

def translate(english_list):
    return [bilingual_lexicon[word] for word in english_list if word in bilingual_lexicon]

exercise6 = translate(["city","girl","sea"]) # passing english word as a list to get urdu words from dictoinary
exercise6

['shair', 'larki', 'sumandar']

Write a program that maps a list of words into a list of integers representing the lengths of the
corresponding words. Write it in three different ways:

• Using a for-loop.

• Using map().

• Using list comprehension

In [111]:
num_list = [1,2,3,4,5,6,7,8,9,10]
word_list = ['one','two','three','four','five','six','seven','eigth','nine','ten']
for num,word in zip(num_list,word_list):
    print(num,word)

1 one
2 two
3 three
4 four
5 five
6 six
7 seven
8 eigth
9 nine
10 ten

In [119]:
print(list(map(lambda num:num, zip(num_list,word_list))))

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four'), (5, 'five'), (6, 'six'), (7, 'seven'), (8, 'eigth'), (9, 'nine'), (10, 'ten')]

In [106]:
exercise7 = [(word,num) for word, num in zip(word_list,num_list)]
exercise7

[('one', 1),
 ('two', 2),
 ('three', 3),
 ('four', 4),
 ('five', 5),
 ('six', 6),
 ('seven', 7),
 ('eigth', 8),
 ('nine', 9),
 ('ten', 10)]

Using reduce(), write a function max in list() that takes a list of numbers and returns the
largest one.
Then ask yourself: why define and call a new function, when I can just as well call
reduce() directly?

In [120]:
def max_list(input_list):
  largest = 0
  for num in input_list:
    if num >largest:
      largest = num
  return largest

large = max_list(num_list)
large

10

In [138]:
numbers= [44,22,11,2,100,7]
r = reduce(lambda x,y:max(x,y), numbers)
r

100